/* line 3, ../compass/sass/style.scss */
#map {
  height: 100vh;
  width: 85%;
  float: left;
}

/* line 8, ../compass/sass/style.scss */
#list-window, #map-panel {
  height: 100vh;
  float: left;
  /*padding-left: 5%;*/
}
/* line 13, ../compass/sass/style.scss */
#list-window .blue-button, #map-panel .blue-button {
  display: block;
  text-decoration: none;
  background-color: #4099ff;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
