<!DOCTYPE html>
<html ng-app="mapsApp">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Google Maps - Angular Style</title>
  
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5tm-Iq6iV-_jZAQ5n_BJmzn9Jo6mYnGE&libraries=places"></script>
  
  <script type="text/javascript" src="js/cities.js" ></script>
  <script type="text/javascript" src="js/main-controller.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">


    

</head>
<body ng-controller="mapsController">
    
  <div ng-view></div>
  <!-- <div id="map-panel">
        <div id="city-dropdown">
            Select A City: <select id="select-city" ng-model="selectedCity" ng-options="city.city for city in cities">
            </select>
            <button ng-click="zoomCity($index)">Show Info</button>
        </div>

        <div id="place-dropdown">
            <select id="select-place" ng-model="selectedPlace" ng-options="place.displayName for place in places">
            </select>
            <button ng-click="findPlace()">Search</button>
        </div>

        <div id="reinit-map">
            <button id="reinit" onclick="reinit();">Reinitialize Map</button>
        </div>
  </div> -->
   
</body>
</html>